.logo-name {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(206, 212, 212);
  max-width: 98%;
  border-radius: 7px;
}
.logo {
  border: solid rgb(211, 211, 204) 5px;
  border-radius: 80px;
  width: 5.5rem;
  height: 5.5rem;
  margin: 0.5rem;
}
.name {
  margin: 0.5rem;
}